.cancel {
	height: calc(100vh - var(--nav-height));
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cancel__bg {
	font-size: 20rem;
	color: hsl(var(--gray-color) / 0.2);
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	rotate: -30deg;
	z-index: -1;
}

.cancel__info {
	font-size: 2rem;
	font-weight: 500;
}

.cancel__highlight {
	color: hsl(var(--error-color));
}

.cancel__redirect {
	color: hsl(var(--primary-color));
}
.cancel__redirect:hover {
	text-decoration: underline;
}
